*{
    margin: 0; padding: 0;
}
.wrap{  
    width: 1200px;
    margin: 0 auto;
}
.header{
    background-color:white; height: 180px; width: 100%; 
    color: black; text-align: center; line-height: 100px;
}
.title{
   width: 1200px;
   height: 150px;
    text-align: center;
}
.t1 > a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color:#6d512f;
    margin-right: 8px;
    text-decoration: none;
}
.t2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color:black;
    margin-right: 8px;
}
.t3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #666666;
    line-height: 54px
}
.join{
    position: relative;
    width:1200px;
    height: 400px;
    margin:30px 0px 0px;
    display: block;
}

.person{
    position:absolute; 
    right: 600px;
    display: flex;
    flex-direction: column;
    box-align: center;
    align-items: center;
    width: 282px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 24px;
    transition: box-shadow 0.5s ease 0s;

}

.person:hover{
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}
.cafeperson{
    position:absolute;
    right: 250px;
    display: flex;
    flex-direction: column;
    box-align: center;
    align-items: center;
    width: 282px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 24px;
    transition: box-shadow 0.5s ease 0s;

}
.cafeperson:hover{
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}
.join-person{
    width: 282px;
    height: 200px;
    flex: 1 1 auto;
    position: relative;
    top:3px;
    
}
.click{
    display: flex;
    box-align: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 282px;
    padding: 24px;
    text-decoration: none;
}

.buttonchoose{
    font-size: 16px;
    width: 140px;
    min-width: 140px;
    height: 52px;
    line-height: 50px;
    background-color: #ba915e;
    color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 26px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: background-color 0.3s ease 0s;
    z-index: 1;
}

.buttonchoose:hover{
    background-color:rgb(109,81,47);
}
.join-person > img{
	
	border-radius: 50px 50px 50px 50px;
}

.join-person-persontitle{
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    margin-bottom: 8px;
    box-pack: center;
    justify-content: center;

}
.join-person-persontitle1{
      font-family: 'Noto Sans KR', sans-serif;
color: black;
font-size:20px;
}
.persontitle-content{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: rgb(102, 102, 102);
    text-align: center;
    word-break: keep-all;
}
.footer{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    font-size: 14px;
    top:80px;
    color: rgb(168, 167, 168);
    text-align: center;
    word-break: keep-all;
}

