	* {
	    box-sizing: border-box;
	    outline: none;
	    font-family: 'Noto Sans KR', sans-serif;
	    text-rendering: optimizeSpeed;
	    -webkit-font-smoothing: antialiased;
	}
	.wrap{
	    width: 1200px;
	    margin: 0 auto;
	}
	.header{
	    background-color:white; height: 180px; width: 100%; 
	    color: black; text-align: center; line-height: 100px;
	}
	.title{
	   width: 1200px;
	   height: 150px;
	    text-align: center;
	}
	.t1{
	    font-family: 'Noto Sans KR', sans-serif;
	    font-size: 40px;
	    font-weight: 700;
        color: #6d512f;
	    margin-right: 8px;
	}
	.t2{
	    font-family: 'Noto Sans KR', sans-serif;
	    font-size: 40px;
	    font-weight: 700;
	    color:black;
	    margin-right: 8px;
	}
	.t3{
	    font-family: 'Noto Sans KR', sans-serif;
	    font-size: 18px;
	    color: #666666;
	    line-height: 54px
	}
	
	#joinForm_host{
	    width: 600px;
	    background-color: rgb(255, 255, 255);
	    margin: 40px auto 40px ;
	    border-width: 1px;
	    border-style: solid;
	    border-color: rgb(236, 236, 236);
	    border-image: initial;
	    padding: 40px;
	}
	.main{
	    margin: 40px;
	}
	.insert_email{
		position: relative;
	    float: left;
	    font-size: 14px;
	    font-weight: bold;
	   
	}
	.email1 > .email2{
	   font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	
	}
	#email{
	    font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	}
	.email-btn-check{
	    position: relative;
	    top:-50px;
	    left: 320px;
	    font-size: 16px;
	    padding: 0;
	    width: 137px;
	    min-width: 137px;
	    height: 52px;
	    line-height: 50px;
	    border-radius: 0;
	    background-color: #ffffff;
	    color: #212121;
	    border: solid 1px #dfdfdf;
	    -webkit-transition: background-color 0.3s;
	    transition: background-color 0.3s;
	    cursor: pointer;
	}
	.email-btn-check:hover{
	   box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	}
	
	/* 비밀번호 */
	.insert_password{
		position: relative;
	    float: left;
	    font-size: 14px;
	    font-weight: bold;
	   
	}
	.pass1 > .pass2{
	   font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
		
	}
	#password{
	    font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	    padding: 1px0px;
	}
	#password_confirm{
	    font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	    padding: 1px 0px;
	}
	/* 이름 */
	.insert_name{
		position: relative;
	    float: left;
	    font-size: 14px;
	    font-weight: bold;
	   
	}
	.name1 > .name2{
	   font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	
	}
	#name{
	    font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	}
	
	/* 닉네임 */
	.insert_nickname{
		position: relative;
	    float: left;
	    font-size: 14px;
	    font-weight: bold;
	   
	}
	.nickname1 > .nickname2{
	   font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	
	}
	#nickname{
	    font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	}
	.nick-btn-check{
	    position: relative;
	    top:-50px;
	    left: 320px;
	    font-size: 16px;
	    padding: 0;
	    width: 137px;
	    min-width: 137px;
	    height: 52px;
	    line-height: 50px;
	    border-radius: 0;
	    background-color: #ffffff;
	    color: #212121;
	    border: solid 1px #dfdfdf;
	    -webkit-transition: background-color 0.3s;
	    transition: background-color 0.3s;
		cursor: pointer;
	}
	.nick-btn-check:hover{
	   box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	}
	
	/* 생년월일 */
	.insert_bday{
		position: relative;
	    float: left;
	    font-size: 14px;
	    font-weight: bold;
	   
	}
	.bday1 > .bday2{
	   font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	
	}
	#birthday{
	    font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	}
	/* 사업자 등록 번호 */
	.insert_business_num{
		position: relative;
	    float: left;
	    font-size: 14px;
	    font-weight: bold;
	   
	}
	.business_num1 > .business_num2{
	   font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	
	}
	#business_num{
	    font-size: 14px;
	    width: 300px;
	    height: 52px;
	    color: rgb(33, 33, 33);
	    background-color: transparent;
	    border-top:0 solid black;
	    border-left:0 solid black;
	    border-right:0 solid black;
	    text-align: left;
	    outline:none;
	}
	
	
	.gender_select > ul {
	    padding: 0px;
	}
	ul.gender_button {
	    display: flex;
	    flex-wrap: wrap;
	    
	}
	ol, ul {
	    list-style: none;
	}
	.gender_select > ul li:first-child {
	    margin-right: -1px;
	}
	
	.gender_select > ul li {
	    margin: 0;
	    border-radius: 0;
	    z-index: 8;
	    width: 80px;
	    height: 52px;
	    line-height: 50px;
	    text-align: center;
	    font-size: 16px;
	}

	li.gender_button {
		border:1px solid #dfdfdf;
		padding: 0 24px;
	    cursor: pointer;
	}
	li {
   	 	display: list-item;
	}
	.gender_select > ul li {
	    z-index: 8;
	    margin: 0px;
	    border-radius: 0px;
	}
	.gender_select>ul li[aria-checked='true'] {
	    background-color: #ffffff;
	    border-color: #3f60cc;
	    color: #3f60cc;
	    font-weight: 700;
	    z-index: 9;
	}
	li.on.gender_button{
		border:1px solid #5d7ee9;
	}

	.successbutton{
	    font-size: 16px;
	    width: 140px;
	    min-width: 140px;
	    height: 52px;
	    line-height: 50px;
	    background-color: rgba(0, 0, 0, 0);
    	color: rgb(33, 33, 33);
	    padding: 0px;
	    border-radius: 26px;
	    border-width: 1px;
	    border-style: solid;
	    border-color: rgb(223, 223, 223);
	    border-image: initial;
	    transition: background-color 0.3s ease 0s;
	    z-index: 1;
	}
	.returnbutton{
	    font-size: 16px;
	    width: 140px;
	    min-width: 140px;
	    height: 52px;
	    line-height: 50px;
	    background-color:#6d512f;
	    color: rgb(255, 255, 255);
	    padding: 0px;
	    border-radius: 26px;
	    border-width: initial;
	    border-style: none;
	    border-color: initial;
	    border-image: initial;
	    transition: background-color 0.3s ease 0s;
	    z-index: 1;
	}
	.buttonarea {
		text-align:center;
	}
	.successbutton:hover{
	   box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	}
	.returnbutton:hover{
	    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	}
	.footer{
	    font-size: 14px;
	    text-align: center;
	    color: #c1c1c1;
	    font-style: normal;
	    padding: 56px 0
	}
