<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	
	<select id="loginProcess" parameterType="vo.UserVO" resultType="vo.UserVO">
		SELECT * FROM mingo.user WHERE email=#{email} and password=#{password}
	</select>
	<select id="naverLoginProcess" parameterType="vo.UserVO" resultType="vo.UserVO">
		SELECT * FROM mingo.user WHERE email=#{email} 
	</select>
	
	<insert id="joinProcess" parameterType="vo.UserVO">
		INSERT INTO mingo.user
		(email, password, name,nickname, birthday, gender, type)
		values
		(#{email}, #{password},#{name}, #{nickname}, #{birthday}, #{gender}, #{type})
	</insert>
	<!-- 네이버 회원가입 -->
	<insert id="naverJoinProcess" parameterType="vo.UserVO">
		INSERT INTO mingo.user
		(email, nickname, gender, type)
		values
		(#{email},#{nickname}, #{gender}, #{type})
	</insert>
	<!-- 카카오 회원가입 -->
	<insert id="kakaoJoinProcess" parameterType="vo.UserVO">
		INSERT INTO mingo.user
		(email, nickname, gender, type)
		values
		(#{email},#{nickname},#{gender}, 1)
	</insert>
	
	<!--이메일 중복체크  -->
	<select id="emailCheck" parameterType="String" resultType="integer">
	 SELECT COUNT(*) FROM mingo.user
	 WHERE email=#{email}
	</select>
	
	<!--닉네임 중복체크  -->
	<select id="nicknameCheck" parameterType="String" resultType="integer">
	 SELECT COUNT(*) FROM mingo.user
	 WHERE nickname=#{nickname}
	</select>
	
	<!-- 아이디찾기 step2  -->
	<select id="findId_step2" parameterType="vo.UserVO" resultType="String">
		SELECT email FROM mingo.user 
		WHERE name=#{name} and birthday=#{birthday} and phone_num=#{phone_num}
	</select>
	
	<!-- 비밀번호 찾기 step1 -->
	<select id="step1_process" parameterType="String" resultType="Integer">
		SELECT user_id FROM mingo.user 
		WHERE email like '${email}'
	</select>
	
	
	 <!-- 비밀번호 updateForm--> 
	<select id="findPwd_step2" parameterType="Integer" resultType="vo.UserVO">
		SELECT * FROM mingo.user WHERE user_id=#{user_id}
	</select>
	 
	<!-- 비밀번호 update -->
	<update id="updatePwd" parameterType="Map" >
		UPDATE mingo.user 
		SET password=#{password}
		WHERE user_id =#{user_id}
	</update>
	
</mapper>