<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	
	<select id="loginProcess" parameterType="vo.UserVO" resultType="vo.UserVO">
		SELECT * FROM mingo.user WHERE email=#{email} and password=#{password}
	</select>
	
	<insert id="joinProcess" parameterType="vo.UserVO">
		INSERT INTO mingo.user
		(email, password, name,nickname, birthday, gender, type)
		values
		(#{email}, #{password},#{name}, #{nickname}, #{birthday}, #{gender}, #{type})
	</insert>
	
	<!--아이디 중복체크  -->
	<select id="emailCheck" parameterType="String" resultType="integer">
	 SELECT COUNT(*) FROM mingo.user
	 WHERE email=#{email}
	</select>
	
	<!--닉네임 중복체크  -->
	<select id="nicknameCheck" parameterType="String" resultType="integer">
	 SELECT COUNT(*) FROM mingo.user
	 WHERE nickname=#{nickname}
	</select>
	
	<select id="id_step1_process" parameterType="vo.UserVO">
		SELECT email FROM mingo.user WHERE name=#{name} and birthday=#{birthday} and phone_num =#{phone_num}
	</select>
	
	<select id="pwd_step1_process" parameterType="vo.UserVO">
		SELECT password FROM mingo.user WHERE email=#{email} and birthday=#{birthday} and phone_num =#{phone_num}
	</select>
	
	
</mapper>