@charset "UTF-8";

/* 초기화 */
a{
    text-decoration: none;
}



/* 랭크 보드 */
.r-wrapper1{
    border:1px solid #dee2e6;
    box-sizing: content-box;
    width:1140px;
    margin: 65px auto 10px;

}
.r-filter-option{
    border-top:1px solid #dee2e6;
    border-bottom:1px solid #dee2e6;
    width:1140px;
    margin:65px auto 20px;
    overflow: hidden;
}
.r-filter-option ul {
    height:200px;
    border-right:1px solid #dee2e6;
    box-sizing: border-box;
}
.r-filter-option ul:last-child{
    border-right:none;
}
.r-filter-header-name{
    float:left;
    width:20%;
    text-align: center;
}

.r-filter-a{
   
    overflow-y: scroll;
    
}
.list-group{
    width:20%;
    float:left;
}

.r-content{
    margin-top:20px;
    width:1140px;
    margin: 0 auto;
}

/* 푸터 영역 */
.footer{
    overflow: hidden;
    height: 70px;
}
.footer a{
    color:black;
}
.footer a:hover{
    color:crimson;
    text-decoration: none;
}

/* 스크롤 바 관련 (IE에선 작동안됨) */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
   
    background-color: #d1d1d1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    width:20px;
    background: black; 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1; 
  }