@charset "UTF-8";

/* 초기화 */
a{
    text-decoration: none;
}



/* 랭크 보드 */
.r-wrapper1{
    border:1px solid #dee2e6;
    box-sizing: content-box;
    width:1140px;
    margin:75px auto 10px;

}
.r-filter-option{
    border-top:1px solid #dee2e6;
    border-bottom:1px solid #dee2e6;
    width:1140px;
    margin:75px auto 20px;
    overflow: hidden;
}
.r-filter-option ul {
    height:200px;
    border-right:1px solid #dee2e6;
    box-sizing: border-box;
}
.r-filter-option ul:last-child{
    border-right:none;
}


.list-group-flush:last-child .list-group-item:last-child {
    border-bottom-width: 1px;
}
.r-filter-header-name{
    float:left;
    width:20%;
    font-size:1.1em;
    font-weight:bold;
    text-align: center;
    background-color:#dee2e6;
}

.r-filter-a{
   
    
}
.r-filter-c{
   
   
    
}
.list-group{
    width:20%;
    float:left;
    overflow-y: auto;
}

.r-content{
    margin-top:20px;
    width:1140px;
    margin: 0 auto;
}
/* star rating */
.star-rating {
	width: 83px;
	background: url('../img/star_rating.png');
	background-repeat: no-repeat;
}

.star-rating>div {
	width: 0%;
	background: url('../img/star_rating.png');
	background-repeat: no-repeat;
	background-position: bottom left;
}
.star-rating, .star-rating>div {
	height: 13px;
	overflow: hidden;
}
/* 라디오 버튼 */
li.list-group-item .custom-control-label{
	cursor:pointer;
}

/* td 평가 영역 */
.d-flex > .flex-fill > span{
	float:left;
	font-size:10px;
	display:inline-block;
	width:40px;
}
.d-flex > .flex-fill > div{
	margin-top:2px;
	float:left;
	width:150px;
	height:10px;
}
.d-flex > .flex-fill > div > div{
	height:10px;
}

.is-loading{
	height:400px;
	border:1px solid #e1e1e1;
	box-sizing:border-box;
}
.spin-wrapper{
	width:1140px;
	
	margin:0 auto 30px;
}

/* 푸터 영역 */
.footer{
    overflow: hidden;
    height: 70px;
}
.footer a{
    color:black;
}
.footer a:hover{
    color:crimson;
    text-decoration: none;
}

/* 스크롤 바 관련 (IE에선 작동안됨) */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
   
    background-color: #d1d1d1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    width:20px;
    background: black; 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1; 
  }